### Scapping Data for 'Laptop' from Flipkart

In [1]:
import selenium
from selenium import webdriver

In [2]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [4]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Laptop')

In [5]:
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [7]:
URL=[]

In [8]:
for j in range(1,31):
    driver.get('https://www.flipkart.com/search?q=Laptop&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [9]:
print(len(URL))

720

In [10]:
URL2=[]

In [11]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [12]:
print(len(URL2))

369

In [13]:
RAT=[]
REV=[]

In [14]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [15]:
print(len(RAT),len(REV))

3436 3436

In [16]:
import pandas as pd

In [17]:
df=pd.DataFrame()

In [18]:
df['RATING']=RAT[:]
df['REVIEWS']=REV[:]

In [19]:
df

     RATING                                            REVIEWS
0         5  Excellent.. Quality of plastic and body is ver...
1         5  Reviewing after full setup.\nIf you want full ...
2         5  This is the best laptop you will get for aroun...
3         5    Product delivered on time & same as description
4         5  Pro : light weight, keyboard is amazing, good ...
...     ...                                                ...
3431      1  I bought it and opened, And internet connectio...
3432      3  Dos based.extra expense to install windows.pro...
3433      1  All specs are incorrect for this product. Not ...
3434      1  Wifi Driver Problem Os installation Problem......
3435      1                                          Don't buy

[3436 rows x 2 columns]

In [20]:
df=df.assign(PRODUCT='Laptop')

In [21]:
df

     RATING                                            REVIEWS PRODUCT
0         5  Excellent.. Quality of plastic and body is ver...  Laptop
1         5  Reviewing after full setup.\nIf you want full ...  Laptop
2         5  This is the best laptop you will get for aroun...  Laptop
3         5    Product delivered on time & same as description  Laptop
4         5  Pro : light weight, keyboard is amazing, good ...  Laptop
...     ...                                                ...     ...
3431      1  I bought it and opened, And internet connectio...  Laptop
3432      3  Dos based.extra expense to install windows.pro...  Laptop
3433      1  All specs are incorrect for this product. Not ...  Laptop
3434      1  Wifi Driver Problem Os installation Problem......  Laptop
3435      1                                          Don't buy  Laptop

[3436 rows x 3 columns]

In [22]:
df['RATING'].value_counts()

5    1928
4    1070
3     205
1     178
2      55
Name: RATING, dtype: int64

In [23]:
dff=df[df.RATING=='5']

In [24]:
dff=dff.iloc[0:1200,:]

In [25]:
df.drop(df.index[df['RATING']=='5'], inplace=True)

In [26]:
df=pd.concat([df,dff],axis=0)

In [27]:
df.shape

(2708, 3)

In [28]:
driver.close()

### Scrapping Data for 'Phones' from flipkart

In [29]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')

In [30]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [31]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Phones')

In [32]:
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [33]:
URL=[]

In [34]:
for j in range(1,31):
    driver.get('https://www.flipkart.com/search?q=Phones&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [35]:
print(len(URL))

720

In [36]:
URL2=[]

In [37]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [38]:
print(len(URL2))

692

In [39]:
RAT=[]
REV=[]

In [40]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [41]:
print(len(RAT),len(REV))

6782 6782

In [42]:
df2=pd.DataFrame()

In [43]:
df2['RATING']=RAT[:]
df2['REVIEWS']=REV[:]

In [44]:
df2=df2.assign(PRODUCT='Phones')

In [45]:
df2

     RATING                                            REVIEWS PRODUCT
0         5  Thankyou Redmi,\n\nFeeling Lucky to buy this p...  Phones
1         4  Good mobile ...I loved it and Thank you flipka...  Phones
2         5  It is an good phone ever i see, but it have on...  Phones
3         5  To be completely honest this is not the best p...  Phones
4         5  Nice very super product and nice performance\n...  Phones
...     ...                                                ...     ...
6777      5                                          very good  Phones
6778      5                                 Very nice products  Phones
6779      5                                        Gud product  Phones
6780      5                                              Super  Phones
6781      4                                               Good  Phones

[6782 rows x 3 columns]

In [46]:
df2['RATING'].value_counts()

5    4311
4    1568
3     414
1     345
2     144
Name: RATING, dtype: int64

In [47]:
dff=df2[df2.RATING=='5']

In [48]:
dff=dff.iloc[0:2000,:]

In [49]:
df2.drop(df2.index[df2['RATING']=='5'],inplace=True)

In [50]:
df2=pd.concat([df2,dff],axis=0)

In [51]:
df2.shape

(4471, 3)

In [52]:
driver.close()

### Scrapping data for 'Headphone' from flipkart

In [53]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')

In [54]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [55]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Headphones')

In [56]:
#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [57]:
URL=[]

In [58]:
for j in range(1,21):
    driver.get('https://www.flipkart.com/search?q=Headphones&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a[1]")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [59]:
print(len(URL))

800

In [60]:
URL2=[]

In [61]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [62]:
print(len(URL2))

700

In [63]:
RAT=[]
REV=[]

In [64]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [65]:
print(len(RAT),len(REV))

6866 6866

In [66]:
df3=pd.DataFrame()

In [67]:
df3['RATING']=RAT[:]
df3['REVIEWS']=REV[:]

In [68]:
df3=df3.assign(PRODUCT='Headphones')

In [69]:
df3['RATING'].value_counts()

5    4374
4    1251
1     547
3     409
2     285
Name: RATING, dtype: int64

In [70]:
dff=df3[df3.RATING=='5']

In [71]:
dff=dff.iloc[0:1300,:]

In [72]:
df3.drop(df3.index[df3['RATING']=='5'],inplace=True)

In [73]:
df3=pd.concat([df3,dff],axis=0)

In [74]:
df3.shape

(3792, 3)

In [75]:
driver.close()

### Scrapping data for 'Smart watches' from flipkart

In [76]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')

In [77]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [78]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Smart Watches')

In [79]:
#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [80]:
URL=[]

In [81]:
for j in range(1,31):
    driver.get('https://www.flipkart.com/search?q=Smart+Watches&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [82]:
print(len(URL))

720

In [83]:
URL2=[]

In [84]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [85]:
print(len(URL2))

233

In [86]:
RAT=[]
REV=[]

In [87]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [88]:
print(len(RAT),len(REV))

2081 2081

In [89]:
df4=pd.DataFrame()

In [90]:
df4['RATING']=RAT[:]
df4['REVIEWS']=REV[:]

In [91]:
df4=df4.assign(PRODUCT='Smart_phones')

In [92]:
df4['RATING'].value_counts()

5    935
1    645
4    227
3    169
2    105
Name: RATING, dtype: int64

In [93]:
driver.close()

### Scrapping Data for 'Professional Camera' from flipkart

In [94]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')

In [95]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [96]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Professional Camera')

In [97]:
#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [98]:
click2=driver.find_element_by_xpath("//a[@class='_2SqgSY']").click()

In [99]:
URL=[]

In [100]:
for j in range(1,5):
    driver.get('https://www.flipkart.com/cameras-accessories/cameras/pr?sid=jek%2Cp31&q=Professional+Camera&otracker=categorytree&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a[1]")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [101]:
print(len(URL))

90

In [102]:
URL2=[]

In [103]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [104]:
print(len(URL2))

40

In [105]:
RAT=[]
REV=[]

In [106]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [107]:
print(len(RAT),len(REV))

374 374

In [108]:
df5=pd.DataFrame()

In [109]:
df5['RATING']=RAT[:]
df5['REVIEWS']=REV[:]

In [110]:
df5=df5.assign(PRODUCT='Professional_Camera')

In [111]:
df5['RATING'].value_counts()

5    303
4     57
1      8
3      6
Name: RATING, dtype: int64

In [112]:
driver.close()

### Scrapping data for 'Printers' from flipkart

In [113]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')

In [114]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [115]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Printers')

In [116]:
#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [117]:
URL=[]

In [118]:
for j in range(1,6):
    driver.get('https://www.flipkart.com/computers/computer-peripherals/printers-inks/printers/pr?sid=6bo%2Ctia%2Cffn%2Ct64&q=Printers&otracker=categorytree&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a[1]")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [119]:
print(len(URL))

162

In [120]:
URL2=[]

In [121]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [122]:
print(len(URL2))

101

In [123]:
RAT=[]
REV=[]

In [124]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [125]:
print(len(RAT),len(REV))

963 963

In [126]:
df6=pd.DataFrame()

In [127]:
df6['RATING']=RAT[:]
df6['REVIEWS']=REV[:]

In [128]:
df6=df6.assign(PRODUCT='Printers')

In [129]:
df6['RATING'].value_counts()

5    556
4    222
1    108
3     50
2     27
Name: RATING, dtype: int64

In [130]:
driver.close()

### Scrapping data for 'Monitors' from Filpkart

In [131]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')

In [132]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [133]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Monitors')

In [134]:
#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [135]:
URL=[]

In [136]:
for j in range(1,12):
    driver.get('https://www.flipkart.com/search?q=Monitors&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a[1]")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [137]:
print(len(URL))

264

In [138]:
URL2=[]

In [139]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [140]:
print(len(URL2))

123

In [141]:
RAT=[]
REV=[]

In [142]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [143]:
print(len(RAT),len(REV))

1074 1074

In [144]:
df7=pd.DataFrame()

In [145]:
df7['RATING']=RAT[:]
df7['REVIEWS']=REV[:]

In [146]:
df7=df7.assign(PRODUCT='Monitors')

In [147]:
df7['RATING'].value_counts()

5    691
4    222
1     72
3     63
2     26
Name: RATING, dtype: int64

In [148]:
driver.close()

### Scrapping data for 'Home theatre' from Filpkart

In [149]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')

In [150]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [151]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('Home theatre')

In [152]:
#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [153]:
URL=[]

In [154]:
for j in range(1,31):
    driver.get('https://www.flipkart.com/search?q=Home+theatre&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a[1]")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [155]:
print(len(URL))

999

In [156]:
URL2=[]

In [157]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [158]:
print(len(URL2))

363

In [159]:
RAT=[]
REV=[]

In [160]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [161]:
print(len(RAT),len(REV))

3221 3221

In [162]:
df8=pd.DataFrame()

In [163]:
df8['RATING']=RAT[:]
df8['REVIEWS']=REV[:]

In [164]:
df8=df8.assign(PRODUCT='Home_theatre')

In [165]:
df8['RATING'].value_counts()

5    1910
4     574
1     334
3     292
2     111
Name: RATING, dtype: int64

In [166]:
dff=df8[df8.RATING=='5']

In [167]:
dff=dff.iloc[0:1000,:]

In [168]:
df8.drop(df8.index[df8['RATING']=='5'], inplace=True)

In [169]:
df8=pd.concat([df8,dff],axis=0)

In [170]:
df8.shape

(2311, 3)

In [171]:
driver.close()

### Scrapping data for 'router' from Filpkart

In [172]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')

In [173]:
#Open the webpage with webdriver
driver.get('https://www.flipkart.com/')

In [174]:
#Finding elements for search bar
search1=driver.find_element_by_xpath("//input[@class='_3704LK']")
search1.send_keys('router')

In [175]:
#Clicking
click1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [176]:
URL=[]

In [177]:
for j in range(1,11):
    driver.get('https://www.flipkart.com/search?q=router&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(j))
    urls=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/a[1]")
    for url in urls:
        URL.append(url.get_attribute('href'))

In [178]:
print(len(URL))

390

In [179]:
URL2=[]

In [180]:
for url in URL:
    driver.get(url)
    rev_lk=driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
    for url2 in rev_lk:
        URL2.append(url2.get_attribute('href'))

In [181]:
print(len(URL2))

139

In [182]:
RAT=[]
REV=[]

In [183]:
for url in URL2:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div")
    for i in rat:
        RAT.append(i.text)
    rev=driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']/div/div/div/div[2]/div/div/div")
    for j in rev:
        REV.append(j.text)

In [184]:
print(len(RAT),len(REV))

1224 1224

In [185]:
df9=pd.DataFrame()

In [186]:
df9['RATING']=RAT[:]
df9['REVIEWS']=REV[:]

In [187]:
df9=df9.assign(PRODUCT='Router')

In [188]:
df9['RATING'].value_counts()

5    739
4    227
1    140
3     67
2     51
Name: RATING, dtype: int64

In [189]:
dff=df9[df9.RATING=='5']

In [190]:
dff=dff.iloc[0:500,:]

In [191]:
df9.drop(df9.index[df9['RATING']=='5'], inplace=True)

In [192]:
df9=pd.concat([df9,dff],axis=0)

In [193]:
df9.shape

(985, 3)

In [194]:
driver.close()

### Compilling data and saving it

In [195]:
new_df=pd.concat([df,df2,df3,df4,df5,df6,df7,df8,df9],axis=0)

In [196]:
new_df

    RATING                                            REVIEWS PRODUCT
5        4  Upgraded RAM from 4GB to 16 GB, as 4GB is easi...  Laptop
7        4  A perfect light weight and decent looking lapt...  Laptop
8        4                                               Good  Laptop
10       4                                      Super display  Laptop
14       4  Design was nice...nice performance so far... v...  Laptop
..     ...                                                ...     ...
783      5                        Good product and good range  Router
784      5  I bought this router during BBD sale.\nFirst i...  Router
785      5  The android TV and all our mobiles are now str...  Router
786      5  Mesh system network is a new and pretty dope t...  Router
787      5  good product... and amazingly i got it only fo...  Router

[18759 rows x 3 columns]

In [197]:
new_df['RATING'].value_counts()

5    8485
4    5418
1    2377
3    1675
2     804
Name: RATING, dtype: int64

In [198]:
df_shuffled=new_df.sample(frac=1).reset_index(drop=True)

In [199]:
df_shuffled

      RATING                                            REVIEWS       PRODUCT
0          4                                   Nice ,\ngood job    Headphones
1          4                                          Excellent    Headphones
2          5  After careful consideration of similar prodcut...        Router
3          4                                               Good        Router
4          5  Superb product I like it\nBest part is photo p...      Printers
...      ...                                                ...           ...
18754      3  Good enough... but iPhone users should note th...  Smart_phones
18755      5                                Better for students        Laptop
18756      5        Amzing speaker, have bought 2 sets of them.  Home_theatre
18757      5  I was in search of a mobile with long battery ...        Phones
18758      5                                                 Nc  Smart_phones

[18759 rows x 3 columns]

In [200]:
df_shuffled.to_csv('review.csv')